
body {
  margin: 100px 20px 0px 20px;
  overflow-y: scroll;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  text-align: center;
  margin: 100px 0 30px auto;
}

a {
  display: block;
  padding: 70px;
  text-decoration: none;
  color: white;
}

.tab-row {
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.status-button {
  display: inline-block;
  text-align: center;
  margin: 0 auto;
  color: #6441a5;
  padding: 20px 0px;
  outline: none;
  width: 30%;
  border-color: #815fc0;
  background-color: white;
  transition: 0.3s;
  cursor: pointer;
  border-radius: 10px;
}

.active {
  background-color: #815fc0;
  color: white;
}

.active:hover {
  background-color: #6441a4;
  color: white;
}

.inactive {
  background-color: white;
}

.inactive:hover {
  background-color: #815fc0;
  color: white;
  border-color: #815fc0;
  border-width: thin;
}

.purple {
  background-color: #815fc0;
  color: white;
}

.purple:hover {
  background-color: #6441a4;
}

.grey {
  background-color: #999999;
  color: white;
}

.grey:hover {
  background-color: #737373;
}

#logo {
  display: block;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 70px;
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

ul {
  text-align: center;
  margin: 0 50px 0 50px auto;
  list-style-type: none;
  border-style: solid;
  width: 100%;
  border-radius: 10px;
  padding: 0;
  display: inline-block;
  border-color: #815fc0;
}

li {
  color: black;
  border-style: solid;
  border-width: medium;
  border-radius: 8px;
  align-content: center;
  transition: 0.3s;
  animation: fadeEffect 1s;
}

footer {
  text-align: center;
  height: 0px;
  margin-top: 50px;
  margin-bottom: -50px;
  width: 100%;
}
